<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar-title">
  <a class="button-prev" href="/results" data-transition="slide-out">
    Back
  </a>

  <h1 class="title"><%= @location_name %></h1>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
  <a href="tel:<%= @phone %>" class="button-block button-positive">Call <%= @phone %></a>

  <ul class="list inset">
    <li class="list-divider">Opening Times</li>
    <li>
      <!-- <strong>Royal A&E</strong> -->
    </li>
  </ul>

  <ul class="list inset">
    <li class="list-divider">Qualifying Comments</li>
    <li>
      <!-- <strong>Royal A&E</strong> -->
    </li>
  </ul>

  <ul class="list inset">
    <li class="list-divider">Address</li>
    <li>
      <%= @address %>
    </li>
  </ul>
</div>
