<header class="bar-title">
  <a class="button-prev" href="/list" data-transition="slide-out">Back</a>
  <h1 class="title"><%= @service['location_name'] %></h1>
</header>

<div class="content">
  <a href="tel:<%= @service['phone'] %>" class="button-block button-positive">Call <%= @service['phone'] %></a>

  <ul class="list inset">
    <li class="list-divider">Opening Times</li>
    <li>24-7</li>
  </ul>

  <ul class="list inset">
    <li class="list-divider">Qualifying Comments</li>
    <li>
      <% if @service['category'] == 'MIU' %>
        <p>Rule out syncope, ECG abnormality or anti-coagulants.</p>
        <br />
        <p>Phone ahead for geriatric consort services (age 75+).</p>
      <% end %>
    </li>
  </ul>

  <ul class="list inset">
    <li class="list-divider">Address</li>
    <li> <%= @service['address'] %> </li>
  </ul>
</div>
