<div class="content">
  <a class="button-block button-main search-button" data-transition="slide-in">Search</a>

  <ul class="filters list inset">
    <% @categories.each do |category| %>
      <li role="service" data-category="<%= category[:key] %>">
        <span class="label"><%= category[:name] %></span>
        <div class="toggle <%= category[:class] %>">
          <div class="toggle-handle"></div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
