<!-- Make sure all your bars are the first things in your <body> -->

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
  <a href="/results" class="button-block button-main" data-transition="slide-in">Search</a>

  <ul class="filters list inset">
    <li role="service" data-type="HOS">
      <span class="label">
        Hospital
      </span>
      <div class="toggle active">
        <div class="toggle-handle"></div>
      </div>
    </li>
    <li role="service" data-type="AAE">
      <span class="label">
        A&amp;E
      </span>
      <div class="toggle active">
        <div class="toggle-handle"></div>
      </div>
    </li>
    <li role="service" data-type="MIU">
      <span class="label">
        MIU
      </span>
      <div class="toggle active">
        <div class="toggle-handle"></div>
      </div>
    </li>
    <li role="service" data-type="GPP">
      <span class="label">
        GP
      </span>
      <div class="toggle active">
        <div class="toggle-handle"></div>
      </div>
    </li>
    <li role="service" data-type="PHA">
      <span class="label">
        Pharmacy
      </span>
      <div class="toggle active">
        <div class="toggle-handle"></div>
      </div>
    </li>
  </ul>
</div>
