<div class="content">
  <a class="button-block button-main search-button">Search</a>

  <ul class="filters list inset">
    <% @categories.each do |category| %>
      <li role="service" data-category="<%= category[:key] %>" class="<%= category[:class] %>">
        <span class="label"><%= category[:name] %></span>
        <span class="state on">ON</span>
        <span class="state off">OFF</span>
      </li>
    <% end %>
  </ul>
</div>

<div class="spinner hide">
  <div id="floatingBarsG">
    <div class="blockG" id="rotateG_01"></div>
    <div class="blockG" id="rotateG_02"></div>
    <div class="blockG" id="rotateG_03"></div>
    <div class="blockG" id="rotateG_04"></div>
    <div class="blockG" id="rotateG_05"></div>
    <div class="blockG" id="rotateG_06"></div>
    <div class="blockG" id="rotateG_07"></div>
    <div class="blockG" id="rotateG_08"></div>
  </div>
  <p>Retrieving location</p>
</div>
