<% content_for :javascript do %>
  <script type="text/javascript" src="/javascripts/filter.js"></script>
<% end %>

<div class="content">
  <a class="button-block button-main search-button" data-transition="slide-in">Search</a>

  <ul class="filters list inset">
    <li role="service" data-category="HOS">
      <span class="label">
        Hospital
      </span>
      <div class="toggle active">
        <div class="toggle-handle"></div>
      </div>
    </li>
    <li role="service" data-category="AAE">
      <span class="label">
        A&amp;E
      </span>
      <div class="toggle active">
        <div class="toggle-handle"></div>
      </div>
    </li>
    <li role="service" data-category="MIU">
      <span class="label">
        MIU
      </span>
      <div class="toggle active">
        <div class="toggle-handle"></div>
      </div>
    </li>
    <li role="service" data-category="GPP">
      <span class="label">
        GP
      </span>
      <div class="toggle active">
        <div class="toggle-handle"></div>
      </div>
    </li>
    <li role="service" data-category="PHA">
      <span class="label">
        Pharmacy
      </span>
      <div class="toggle active">
        <div class="toggle-handle"></div>
      </div>
    </li>
  </ul>
</div>
