<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Little Sick</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/touch-icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"   href="images/touch-icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57"   href="images/touch-icons/apple-touch-icon-57x57.png">

    <link rel="stylesheet" href="css/vendor/ratchet.css">
    <link rel="stylesheet" href="css/littlesick.css">

    <!-- vendor -->
    <script src="javascripts/vendor/ratchet.js"></script>
    <script src="javascripts/vendor/jquery.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <!-- custom -->
    <script src="/javascripts/filter.js"></script>
    <script src="javascripts/map.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
