<header class="bar-title">
  <a data-href="/" class="button-prev">Change Filter</a>
  <ul class="segmented-controller">
    <li class="active"><a>List</a></li>
    <li data-href="/map"><a>Map</a></li>
  </ul>
</header>

<div class="content">
  <ul class="list inset">
    <% @services.each do |service| %>
      <li data-href="/details/<%= service["_id"] %>" role="service" data-category="<%= service["category"] %>">
        <span class="distance"><%= service["geo_near_distance"] %>mi</span>
        <strong><%= service["location_name"] %></strong>
        <span class="chevron"></span>
      </li>
    <% end %>
  </ul>
</div>

