<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar-title">
  <a href="/" class="button-prev" data-ignore="push">
    Change Filter
  </a>
  <ul class="segmented-controller">
    <li>
      <a href="/results">List</a>
    </li>
    <li class="active">
      <a href="/map">Map</a>
    </li>
  </ul>

</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
  <img src="/map_small.png" />
</div>

