<header class="bar-title">
  <a href="/" class="button-prev" data-ignore="push">Change Filter</a>
  <ul class="segmented-controller">
    <li><a href="/results">List</a></li>
    <li class="active"><a href="/map">Map</a></li>
  </ul>
</header>

<div class="content">
  <img src="images/map_small.png" />
</div>

