<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar-title">
  <a href="/" class="button-prev" data-transition="slide-out">
    Change Filter
  </a>
  <ul class="segmented-controller">
    <li class="active">
      <a href="/results">List</a>
    </li>
    <li>
      <a href="/map">Map</a>
    </li>
  </ul>
</header>

<div class="content">
  <ul class="list inset">
    <% @results.each do |result| %>
      <li role="service" data-type="<%= result[:category] %>">
        <a href="/details/<%= result[:_id] %>" data-transition="slide-in">
          <span class="distance"><%= result[:distance] %>mi</span>
          <strong><%= result[:location_name] %></strong>
          <span class="chevron"></span>
        </a>
      </li>
    <% end %>
  </ul>
</div>

