<header class="bar-title">
  <a href="/" class="button-prev" data-ignore="push">Change Filter</a>
  <ul class="segmented-controller">
    <li class="active"><a href="/results">List</a></li>
    <li><a href="/map">Map</a></li>
  </ul>
</header>

<div class="content">
  <ul class="list inset">
    <% @results.each do |result| %>
      <li role="service" data-category="<%= result[:category] %>">
        <a href="/details/<%= result[:_id] %>" data-transition="slide-in">
          <span class="distance"><%= result[:geo_near_distance] %>mi</span>
          <strong><%= result[:location_name] %></strong>
          <span class="chevron"></span>
        </a>
      </li>
    <% end %>
  </ul>
</div>

