<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar-title">
  <a href="/" class="button-prev" data-transition="slide-out">
    Change Filter
  </a>
  <ul class="segmented-controller">
    <li class="active">
      <a href="#">List</a>
    </li>
    <li>
      <a href="#">Map</a>
    </li>
  </ul>

</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
  <ul class="list inset">
    <li role="service" data-type="hospital">
      <a href="/details" data-transition="slide-in">
        <span class="distance">3.2mi</span>
        <strong>Royal A&E</strong>
        <span class="chevron"></span>
      </a>
    </li>
    <li role="service" data-type="miu">
      <a href="/details" data-transition="slide-in">
        <span class="distance">3.2mi</span>
        <strong>City Centre MIU</strong>
        <span class="chevron"></span>
      </a>
    </li>
    <li role="service" data-type="miu">
      <a href="/details" data-transition="slide-in">
        <span class="distance">3.2mi</span>
        <strong>Lothianburn MIU</strong>
        <span class="chevron"></span>
      </a>
    </li>
    <li role="service" data-type="pharmacy">
      <a href="/details" data-transition="slide-in">
        <span class="distance">3.2mi</span>
        <div class="service-name">Boots Newington</div>
        <span class="chevron"></span>
      </a>
    </li>
  </ul>
</div>

