.content {
  background-color: hsl(186, 96%, 10%);
}

.list.inset {
  overflow: hidden;
  border: 1px solid #000;
}

.list {
  margin-top: 10px;
}

.button-block {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.distance {
  float: left;
  opacity: 0.6;
  width: 20%;
}

.service-name {
  display: inline-block;
  font-weight: bold;
  width: 70%;
}

.list input[type="checkbox"] {
  float: right;
  margin-right: -40px;
}

.filters.list li[role="service"] {
  font-size: 120%;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.list li[role="service"] {
  color: white;
}

.list li[data-category="HOS"] {
  background-color: #B72306; /* red */
}

.list li[data-category="AAE"] {
  background-color: #D05C05; /* orange */
}

.list li[data-category="MIU"] {
  background-color: #FCCF02; /* yellow */
  color: black;
}

.list li[data-category="GPP"], .list li[data-category="GPB"] {
  background-color: #47A24C; /* green */
}

.list li[data-category="PHA"] {
  background-color: #025B65; /* blue */
}
